<nav class="tabs">
    <NavLink class="tab" href="" Match="NavLinkMatch.All">Postning</NavLink>
    <NavLink class="tab" href="order">Orderlista</NavLink>
    <NavLink class="tab" href="loggbok">Loggbok</NavLink>
    <NavLink class="tab" href="statistik">Statistik</NavLink>
    <NavLink class="tab" href="aptering">ApteringsMax</NavLink>
</nav>
