<nav class="tabs">
    <NavLink class="tab" href="" Match="NavLinkMatch.All">PostningsMax</NavLink>
    <NavLink class="tab" href="mal">Måldimension</NavLink>
    <NavLink class="tab" href="loggbok">Loggbok</NavLink>
    <NavLink class="tab" href="aptering">ApteringsMax</NavLink>
</nav>
